<div id="<%= dom_id flat %>">
  <p>
    <strong>Name:</strong>
    <%= flat.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flat.description %>
  </p>

  <p>
    <strong>price_per_night:</strong>
    <%= flat.price_per_night %>
  </p>

  <p>
    <strong>number_of_guest:</strong>
    <%= flat.number_of_guest %>
  </p>

</div>